
* {
    box-sizing:border-box;
}

body {
 font-family: garamond, serif, Arial, Helvetica, sans-serif;
 margin: 0;
 padding: 0;
}

h1 {
    text-align: center;
    position: relative;
}

.no-text-wrap  {
    clear: right;
}

.box {
    position: relative;
    background-color: #fff1e6;
    border-width: 1px; 
    border-style: solid;
    border-color: black;   
    padding: 10px;
    margin: 20px

}

#title-1 {
    background-color: #ffcc5f;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 8px;
    text-align: center;


    position: relative;
    float: right;

    margin-top: -11px;
    margin-right: -11px;

    width: 200px;

    font-size: large;
    font-weight: bold;
}

#title-2 {
    background-color: #bc544b;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 8px;
    text-align: center;

    float: right;

    position: relative;

    margin-top: -11px;
    margin-right: -11px;
    
    width: 200px;

    font-size: large;
    font-weight: bold;
}

#title-3 {
    background-color: #adadc9;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 8px;
    text-align: center;


    position: relative;
    float: right;
    margin-top: -11px;
    margin-right: -11px;

    width: 200px;

    font-size: large;
    font-weight: bold;
}

    /*desktop version*/
    @media (min-width: 992px) {
        .row {
            float: right;
            width: 30%;
            overflow: visible;
            margin: 1.66666666667%;

        }
    }

    /*tablet version*/
    @media (min-width: 768px) and (max-width: 991px) {
        .mid-half {
            width: 45%; 
            float: right;
            margin-right: 2.5%;
            margin-left: 2.5%;
        }

        .mid-full {
            width: 95%;
            float: right;
            margin-right: 2.5%;
            overflow: visible;
        }

        .center {
            margin-right: auto;
            margin-left: auto;
        }
    }

    /*mobile version*/
    @media (max-width: 767px) {
        . {
            
        }
    }